<h1>Classrooms#new</h1>
<p>Find me in app/views/classrooms/new.html.erb</p>

teacher_email: teacher email

student_emails: student emails

load said teacher's worksheet templates

worksheet_urls: worksheet templates (upload and copy url options)

# should hide optional choices and just load on click

classroom grade, group, subject (need to invent default values, optional)

group size (default 4, optional)

individual time (default 1, optional)

session length (optional)

session start time (optional)
