<div class="container">
  <div class="card">
    <div class="header">
      <div class="image">
        <!-- <%#= image_tag attachments['odaiba-logo_inverted_icon.png'].url, alt: 'odaiba logo', class: 'photos' %> -->
      </div>
    </div>
    <div class="card-text">
      <h3>You've been invited!</h3>
      <hr>
      <p>Dear <%= @user.name %>,<br/>
      <br/>
      You have been invited to collaborate on a worksheet.<br/>
      You can access it by clicking here:<br/>
      <%= @session_url %><br/>
      Please login with the following credentials:</p>
      <ul>
        <div class="li-container">
          <li><strong>Email: <%= @user.email %></strong></li>
          <li><strong>Password: <%= @one_time_password %></strong></li>
        </div>
      </ul>
      <p>Sincerely,</p>
      <p>The odaiba team</p>
    </div>
  </div>
</div>
