<div class="disclaimer">
  <h3>Disclaimer:</h3>
  <p>Please read this disclaimer before submitting the form. The odaiba app and
  <%= link_to 'www.odaiba-app.com', 'https://www.odaiba-app.com' %> are owned and operated by odaiba ("us", "we", "our").
  <br/>We are currently in pre-alpha stage, and all the information posted on here is published in good faith and meant for informational or demonstration purposes. We cannot guarantee the information or application will be free of errors.
  <br/>We reserve the right to change this policy at any time. Please visit our website (above) in order to keep up to date with the latest changes.
  </p>
  <h3>Technical Requirements:</h3>
  <p>Currently our app only supports Google Chrome, and can only be used on a laptop or desktop computer. It is not intended for mobile usage at this time. Please contact <%= link_to 'infoodaiba@gmail.com', 'mailto:infoodaiba@gmail.com' %> if you have any questions or comments.</p>
</div>
