<% if @notice %>
  <div class="modal fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="trigger fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

          <div class="sm:flex sm:items-start">

            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
              <!-- Title -->
              <div class="flex justify-between items-center pb-3">
                <p class="text-xl font-bold">Login Links</p>
                <div class="modal-close cursor-pointer z-50">
                  <svg class="close-button fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                  </svg>
                </div>
              </div>
              <div class="mt-2 modal-content">
                <% if @notice.class == Array %>
                  <ul>
                    <% @notice.each do |link_and_name| %>
                      <% array = link_and_name.split('---') %>
                      <li>Link <%= link_to array.first %> for user <b><%= link_to array.second %></b></li>
                    <% end %>
                  </ul>
                <% else %>
                  <p class="text-sm leading-5 text-gray-500 mb-2"><%= @notice %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% if @notice.class == Array %>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
              <button type="button" class="copy-button inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                Copy
              </button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
