// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//work_groups/new

html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
  }

  .wrapper {
    height: 100%;
    background-color: #F4F4F4;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .header {
    background-color: #f5bf2d;
    max-width: 100%;
    padding: 1rem 2rem;
  }

  .logo img {
    height: 48px;
  }