// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//work_groups/new
@import "base";

html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
}

.wrapper {
    background-color: #F4F4F4;
    padding: 3rem 1rem;
    font-family: 'Poppins', sans-serif;
    h3 {
        font-weight: 600;
    }
    li {
        list-style: none;
    }

    input, select, textarea {
        border: 3px solid #F4F1EA;
        box-sizing: border-box;
        border-radius: 6px;
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 2rem;
        padding: .5rem;
    }
    img {
        border-radius: 6px;
        border: 12px solid #FDDE7E;
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
        @include for-tablet-portrait-up {
            margin-right: 1rem;
        }
        &:hover {
            cursor: pointer;
        }
    }

}

.img-container {
    @include for-tablet-portrait-up {
        display: flex;
        flex-wrap: wrap;
    }
}

.disclaimer {
    color: #856404;
    font-size: .8rem;
    background-color: #fff3cd;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.form {
    border-radius: 12px;
    background-color: white;
    max-width: 1140px;
    margin: 0 auto;
}

.form-text {
    padding: 1em;
    @include for-tablet-portrait-up {
        padding: 3rem;
    }
}

.grey-header {
    background-color: #E5E5E5;
    max-width: 100%;
    padding: 1rem 2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.grey-header h3 {
    text-align: center;
}

.header {
    background-color: #f5bf2d;
    max-width: 100%;
    padding: 1rem 2rem;
}

.logo img {
    height: 48px;
}

.submit-container {
    text-align: center;
}

.start-fields {
    @include for-tablet-portrait-up {
        display: flex;
    }

    input {
        @include for-tablet-portrait-up {
            max-width: 30%;
            margin-right: 1rem;
        }
    }
}

.radio {
    input {
        width: auto;
    }
}

#work_group_turn_time {
    max-width: 30%;
}

#form-submit {
    width: auto;
    background-color: #4A92A0;
    padding: 1em 2em;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    color: white;
}

.hide-modal {
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content li a {
    color :#F9975F;
}
