// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//work_groups/new

html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
}

.wrapper {
    background-color: #F4F4F4;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    h3 {
        font-weight: 600;
    }
}

.form {
    border-radius: 12px;
    background-color: white;
    max-width: 90%;
    margin: 0 auto;
}

input, select {
    border: 3px solid #F4F1EA;
    box-sizing: border-box;
    border-radius: 6px;
}

.form-text {
    padding: 1em;
}

.grey-header {
    background-color: #E5E5E5;
    max-width: 100%;
    padding: 1rem 2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.grey-header h3 {
    text-align: center;
}

.header {
    background-color: #f5bf2d;
    max-width: 100%;
    padding: 1rem 2rem;
}

.logo img {
    height: 48px;
}

#form-submit {
    background-color: #4A92A0;
    padding: .5em 1em;
    border-radius: 6px;
    border: none;
}