<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <style>
      /* Email styles need to be inline */
      html, body {
        max-width: 600px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        color: #333333;
      }

      strong {
        font-weight: 600;
      }

      .card-text p {
        font-weight: 500;
      }

      h2  {
        color: #F88436;
        text-align: center;
        font-size: 1.875rem;
        font-weight: 700;
      }

      hr {
        border-style: solid;
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border-color: #F88436;
        border-width: 1px;
        margin: auto;
        width: 3rem;
        margin-bottom: 2rem;
      }

      ul {
        border-style: solid;
        border-width: 2px;
        border-color: #E5E5E5;
        padding: .5em;
        border-radius: 6px;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      li {
        list-style: none;
        font-size: 1.1em;
        line-height: 2em;
      }

      .li-container {
        max-width: 90%;
        margin: 0 auto;
      }

      .container {
        height: 100%;
        background-color: #F4F4F4;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .card {
        max-width: 90%;
        margin: 0 auto;
        background-color: white;
        border-radius: 12px;
      }

      .card-text{
        padding: 1rem 2rem;
      }

      .header {
        background-color: #f5bf2d;
        max-width: 100%;
        padding: 1rem 2rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .link {
        color: #2F75DE;
        text-decoration: none;
      }
      .footer p {
        font-weight: 400;
        text-align: center;
        color: #333333;
        font-size: .9rem;
      }
      .footer {
        margin-top: 2rem;
      }

      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {

        .card {
          max-width: 80%;
        }

        .card-text {
          padding: 2rem 4rem;
        }

        ul {
          padding: 1.5em;
        }

        .li-container {
          max-width: 80%;
        }
      }

      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) {

        .card {
          max-width: 70%;
        }

        .li-container {
          max-width: 70%;
        }

      }

      @media only screen and (min-width: 992px) {

        .card {
          max-width: 60%;
        }

        .li-container {
          max-width: 50%;
        }

      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
